@font-face {
  font-family: "Apercu";
  src: url("../fonts/ApercuRegular.ttf") format("truetype");
}

@font-face {
  font-family: "SFPro";
  src: url("../fonts/SFProTextRegular.ttf") format("truetype");
}

.App {
  width: 100%;
}
